{% extends "layout.html" %}
{% load static %}

{% block title %}Watchlist | Item Detail{% endblock %}

{% block content %}

<div id="product_container">
<div id="product" data-item-id="{{ product.item_id }}" class="container">
  <h3>{{ product.title }}</h3>
  <p><strong>Price: ${{ product.prices.all.last.price|floatformat:2 }}</strong></p>
  {% if request.user.is_authenticated %}
    {% if is_watched %}
    <ul>
      <li class="inline"><button id="delete_watch">Delete</button></li>
    {% else %}
      <li class="inline"><button id="add_watch">Watch</button></li>
    {% endif %}
      <li class="inline"><a href="{{ product.url }}" target="-blank"><button>Buy</button></a></li>
    </ul>
  {% else %}
    <a href="{% url 'accounts:register' %}?next={% url 'watch:detail' item_id=product.item_id %}"><button>Sign up to watch</button></a>
  {% endif %}
  <br />
  <img id="product_image" src="{{ product.image_url }}" />
</div>
<div id="chart_container">
  <canvas id="myChart"></canvas>
</div>
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/add_watch.js' %}"></script>
  <script src="{% static 'js/delete_watch.js' %}"></script>
{% endblock %}
